.order-card {
    padding: 1em;
    background-color: #fff;
    max-width: 500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.order-card h2, .order-card h3 {
    margin-top: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ccc;
    font-size: 12px;
}

th, td {
    padding: 0.5em;
    text-align: left;
}
.order-status1 {
    color: orange;
}
.order-status2 {
    color: red;
}
.order-status3 {
    color: green;
}