<app-header backButton="/auth" title="Registro"></app-header>

<ion-content>

  
  <div class="d-flex-center" >
    <form [formGroup]="form" class="auth-form" (ngSubmit)="submit()" (keypress.enter)="submit()">

      <app-logo></app-logo>
<!-- ======================= Nombre ================== -->
<app-custom-input 
autocomplete="name"
icon="person-outline"
[control]="form.controls.name"
type="text"
label="Nombre"
></app-custom-input>  

<div class="validators" *ngIf="form.controls.name.errors &&  form.controls.name.touched"> 
  <div *ngIf="form.controls.name.errors?.['required']">El nombre es requerido</div>
  <div *ngIf="form.controls.name.errors?.['minlenght']">El nombre debe tener al menos 3 caracteres</div>
</div>

<!-- ======================= Apellidos ================== -->
<app-custom-input 
autocomplete="lastName"
icon="person-outline"
[control]="form.controls.lastName"
type="text"
label="Apellidos"
></app-custom-input>  

<div class="validators" *ngIf="form.controls.lastName.errors &&  form.controls.lastName.touched"> 
  <div *ngIf="form.controls.lastName.errors?.['required']">El apellido es requerido</div>
  <div *ngIf="form.controls.lastName.errors?.['minlenght']">El nombre debe tener al menos 3 caracteres</div>
</div>

<!-- ======================= Número de cedula ================== -->
<app-custom-input 
autocomplete="noCedula"
icon="id-card-outline"
[control]="form.controls.noCedula"
type="number"
label="Número de cédula"
></app-custom-input>  

<div class="validators" *ngIf="form.controls.noCedula.errors &&  form.controls.noCedula.touched"> 
  <div *ngIf="form.controls.noCedula.errors?.['required']">El Número de cédula es requerido</div>
  <div *ngIf="form.controls.noCedula.errors?.['minlenght']">El Número de cédula debe tener al menos 5 caracteres</div>
</div>

<!-- ======================= Número Celular ================== -->
<app-custom-input 
autocomplete="phone"
icon="call-outline"
[control]="form.controls.phone"
type="number"
label="Número de contacto"
></app-custom-input>  

<div class="validators" *ngIf="form.controls.phone.errors &&  form.controls.phone.touched"> 
  <div *ngIf="form.controls.phone.errors?.['required']">El Número de contacto es requerido</div>
  <div *ngIf="form.controls.phone.errors?.['minlenght']">El Número de contacto debe tener al menos 7 caracteres</div>
</div>

<!-- ======================= Dirección ================== -->
<app-custom-input 
autocomplete="address"
icon="compass-outline"
[control]="form.controls.address"
type="text"
label="Dirección"
></app-custom-input>  

<div class="validators" *ngIf="form.controls.address.errors &&  form.controls.address.touched"> 
  <div *ngIf="form.controls.address.errors?.['required']">La dirección es requerida</div>
  <div *ngIf="form.controls.address.errors?.['minlenght']">La dirección debe tener al menos 10 caracteres</div>
</div>
  
  <!-- ======================= Correo ================== -->
  <app-custom-input 
  autocomplete="email"
  icon="mail-outline"
  [control]="form.controls.email"
  type="email"
  label="Correo"
  ></app-custom-input>  
  
  <div class="validators" *ngIf="form.controls.email.errors &&  form.controls.email.touched"> 
    <div *ngIf="form.controls.email.errors?.['required']">El correo es requerido</div>
    <div *ngIf="form.controls.email.errors?.['email']">Ingrese un correo valido</div>
  </div>
    
    <!-- ======================= Contraseña ================== -->
    <app-custom-input
    [control]="form.controls.password"
    icon="lock-closed-outline"
    type="password"
    label="Contraseña"
    ></app-custom-input> 
    
    <div class="validators" *ngIf="form.controls.password.errors &&  form.controls.password.touched"> 
      <div *ngIf="form.controls.password.errors?.['required']">La contraseña es requerida</div>
      </div>
      
    <!-- ======================= Botones ================== -->
      <ion-button expand="block" mode="ios" class="submit" type="submit" [disabled]="form.invalid">
        Registrarse
        <ion-icon slot="end" name="person-add-outline"></ion-icon>
      </ion-button>
    </form>
</div>

</ion-content>
